@model ShopBusiness.Models.Category

@{
    ViewData["Title"] = "Cập nhật danh mục Sản phẩm";
}
<h4>Cập nhật danh mục Sản phẩm</h4>
<div class="row mt-5">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="mb-3">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="mb-3">
                <a asp-action="Index" class="btn btn-primary">Trở về</a>
                <input type="submit" value="Cập nhật" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
